.categories-container {
  background-color: rgb(245, 240, 240);
  min-height: 50vh;

  /* border: 2px red solid; */
  position: relative;
}

.status {
  padding: 20px;
  margin: 50px;
  width: 200px;
  border-radius: 30px;
  background-color: rgb(42, 126, 165);
  border: none;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
}

.resolution {
  font-size: 3.5rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.07rem;
  padding-top: 10%;
}

@media screen and (max-width: 500px) {
  .status {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10% auto 0;
  }
}
