h1 {
  color: rgb(11, 53, 110);
  font-size: 3rem;
}

.header-container {
  position: relative;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: flex-start;
}

.nav {
  display: flex;
}

.nav li {
  padding: 0 30px;
}

a {
  color: black;
}

a:focus {
  color: gray;
}

.userIcon {
  position: absolute;
  border: 1px gray solid;
  border-radius: 50%;
  color: rgb(42, 126, 165);
  height: 3rem;
  width: 3rem;
  background-color: white;
  top: 25%;
  right: 5%;
}
