h1 {
  color: #8c0b3d;
  font-size: 3rem;
}

.header-container {
  position: relative;
  display: flex;
  padding: 0 60px;
  align-items: center;
  justify-content: flex-start;
}

.nav {
  display: flex;
}

.nav li {
  padding: 0 30px;
}

a {
  color: rgb(54, 10, 10);
}

a:hover {
  color: #8c0b3d;
  text-decoration: overline;
  font-weight: bold;
}
a:focus {
  color: gray;
  text-decoration: none;
  font-weight: normal;
}

.userIcon {
  position: absolute;
  border: 1px gray solid;
  border-radius: 50%;
  color: #45041d;
  height: 3rem;
  width: 3rem;
  background-color: white;
  top: 25%;
  right: 5%;
}

@media screen and (max-width: 750px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav li {
    padding: 0;
  }

  .userIcon {
    position: static;
  }

  .header-container h1 {
    text-align: center;
  }
}
