.booklist {
  background-color: rgb(245, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booklist > * {
  width: 90%;
  margin: 20px auto;
}

.bookitem {
  border: 1px rgb(200, 194, 194) solid;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 5px;
}

.bookitem > * {
  padding: 30px;
  letter-spacing: 0.05rem;
}

.interactions {
  display: flex;
  gap: 10px;
}

.interactions button {
  margin-right: 10px;
  padding-right: 10px;
  border: none;
  border-right: 1px rgb(200, 194, 194) solid;
  background-color: white;
  height: 20px;
  color: #8c0b3d;
}

.interactions button:hover {
  text-decoration: overline;
}

.title {
  font-size: 2rem;
  margin-bottom: -10px;
}

.genre {
  margin-bottom: -25px;
  color: gray;
  text-decoration: underline;
}

label {
  display: none;
}

form {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 2fr 1.5fr 1.5fr;
}

input {
  padding: 15px;
  border: 1px rgb(200, 194, 194) solid;
  border-radius: 5px;
}

#categories {
  padding: 15px;
  border: 1px rgb(200, 194, 194) solid;
  border-radius: 5px;
}

.submit {
  border-radius: 5px;
  border: none;
  background-color: #45041d;
  color: white;
}

.percentage {
  display: flex;
  justify-content: space-around;
  border-right: 2px rgb(200, 194, 194) solid;
  height: 80px;
  padding-right: 20px;
}

.span {
  margin-top: 20px;
  margin-left: -30px;
  color: gray;
}

.update {
  padding: 10px;
  background-color: #8c0b3d;
  color: white;
  border-radius: 5px;
  border: none;
}

.chapter {
  color: gray;
  margin-bottom: -10px;
}

.verse {
  font-size: 20px;
}

.completed {
  color: gray;
}

@media screen and (max-width: 768px) {
  .bookitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
  }

  .head-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-bottom: 1px rgb(200, 194, 194) solid;
    width: 60%;
  }

  .percentage {
    border-right: none;
    border-bottom: 1px rgb(200, 194, 194) solid;
    width: 50%;
  }

  .title {
    text-align: center;
  }

  .span {
    margin-left: 10px;
    font-size: 1rem;
  }

  form {
    grid-template-columns: 100%;
  }

  .submit {
    padding: 15px;
  }
}
